
:root
{
    --purple:rgb(173, 68, 68);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html,body
{
    height:100%;
    overflow: auto;
    background-color: var(--purple);
}
#content
{
    background-image: url('../assets/background.jpg');
    background-size: 50rem 50rem;
    height:100%;
    width:100%;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;

}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--purple);
    color: whitesmoke;
    border-bottom:  0.25px solid whitesmoke;
    box-shadow: 2px 5px 5px whitesmoke;
    gap: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.floatingBlock
{
    margin-top: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;
    background-color: rgb(244, 241, 241);
    padding: 2rem;
}
.floatingBlock>h2
{
    text-align: center;
    width: 100%;
}


.buttoncontainer
{
    margin: 1px;
    display: flex;
    gap: 2rem;
}

button
{
    background-color: var(--purple);
}
#indiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#side2 , #side1 , #side3
{
    margin:2rem;
    text-align:center;
    max-width: 300px;
}

#home0>h2 ,#home1>h2 , #home2>h2 , #menu0>h2 ,#menu1>h2 , #menu2>h2 , #sp0>h2 , #sp1>h2 , #sp2>h2 
{
    text-align: center;
    width: 100%;
}

div[name='Menu'] #indiv
{
display: flex;
overflow: auto;
}

div[name='Menu'] #indiv img
{
    border-radius: 2rem;
    border: 2px solid black;
}